# Aggregated SQL Database : TEs, RBs, WRs, FBs, HBs

## Table Name = offenseNonQB

### Grain of Data 
* game_id   
* player_id 

### Player/Team of Player Info
* full_player_name
* position
* team_name
* team_score_player
* team_score_opp
* home_game_flag

### What season/when is it in Season
* season_year
* week_of_season
* game_of_season

### Aggregated Player Stats 
* yards_gained_total
* touchdown_total
* two_point_conv_total
* touches_total
* fumble_total 
* fumble_lost_total 

### Rushing Player Stats
* yards_gained_rush 
* touchdown_rush
* fumble_rush
* fumble_lost_rush
* rush_attempts

### Receiving Player Stats
* yards_gained_rec
* touchdown_rec
* fumble_rec
* fumble_lost_rec
* targets
* receptions
* air_yards
* yards_after_catch

### Two Point Conversion Player Stats
* two_point_conv_rush
* two_point_conv_rec

### Kickoff Return Player Stats
* yards_gained_kickoff
* touchdown_kickoff
* fumble_kickoff
* fumble_lost_kickoff
* kickoff_return_attempts

### Punt Return Player Stats
* yards_gained_punt
* touchdown_punt
* fumble_punt
* fumble_lost_punt 
* punt_return_attempts
      
### Fumble Recovery Stats
* fumble_recovery_touchdown : player picks up fumble and scores touchdown
* fumble_recovery_yards : yards gained from fumble recovery, *not included in yards_gained_total*

In [1]:
import os
import math
import pandas as pd 
import sqlite3

# Paths
# ---------
path_dict = {}
path_dict['root'] = '/Users/ryanstevens/Documents/github/nflscrapR-data/'
path_dict['games_data'] = os.path.join(path_dict['root'],'games_data')
path_dict['pbp_data'] = os.path.join(path_dict['root'],'play_by_play_data')
path_dict['roster_data'] = os.path.join(path_dict['root'],'roster_data')
path_dict['sql_data'] = os.path.join(path_dict['root'],'sql_data')

# SQL Info
# ----------

# Path to claim db
path_to_sql_db = os.path.join(path_dict['sql_data'],'analysis_data_v0.db')

# Create connection + cursor
sql_connect = sqlite3.connect(path_to_sql_db)
cursor = sql_connect.cursor()

## Example : Receiver touchdown leaders in 2015 season

In [2]:
query = '''SELECT sum(touchdown_total) touchdown_season,
                  player_id,
                  full_player_name
           FROM offenseNonQB
           WHERE position == 'WR'
           AND season_year == 2015
           GROUP BY player_id, full_player_name
           ORDER BY touchdown_season DESC'''

rec_touchdown = pd.read_sql(query
                            ,con=sql_connect)

rec_touchdown.head()

   touchdown_season   player_id  full_player_name
0                14  00-0024334  Brandon Marshall
1                14  00-0028434      Doug Baldwin
2                14  00-0031428    Allen Robinson
3                13  00-0031235     Odell Beckham
4                12  00-0027690       Eric Decker

# Aggregated SQL Database : QBs

## Table Name = offenseQB

### Grain of Data 
* game_id   
* player_id 

### Player/Team of Player Info
* full_player_name
* team_name
* position
* team_score_player
* team_score_opp
* home_game_flag

### What season/when is it in Season
* season_year
* week_of_season
* game_of_season

### Aggregated Player Stats 
* yards_gained_total
* touchdown_total
* two_point_conv_total : two point conversions for QBs is only through running (so total == rushing)
* fumble_total : fumbles are only counted for running plays
* fumble_lost_total : fumbles lost are only counted for running plays
* touches_total

### Passing Player Stats
* yards_gained_pass
* touchdown_pass
* pass_attempts
* pass_completions
* air_yards
* yards_after_catch

### Rushing Player Stats
* yards_gained_rush
* touchdown_rush
* rush_attempts

### Fumble Recovery Stats
* fumble_recovery_touchdown : player picks up fumble and scores touchdown
* fumble_recovery_yards : yards gained from fumble recovery, *not included in yards_gained_total*

## Example : QB rushing leaders in 2013 season

In [ ]:
query = '''SELECT sum(touchdown_total) touchdown_season,
                  player_id,
                  full_player_name
           FROM offenseQB
           WHERE season_year == 2013
           GROUP BY player_id, full_player_name
           ORDER BY touchdown_season DESC'''

rec_touchdown = pd.read_sql(query
                            ,con=sql_connect)

rec_touchdown.head()